.user {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    &>* {
        margin-right: 10px;
    }
}