@import "../../helpers/variables.scss";

#side-menu {
    display: flex;
    justify-content: center;
    width: $menu-size;
    position: absolute;
    background-color: $menu-background;
    height: 100vh;

    li {
        text-align: center;
        margin: 10px;
    }

    li[data-selected] svg {
        fill: white;
    }

    img {
        width: 50px;
        margin-bottom: 10px;
        margin-top: 10px
    }

    svg:hover {
        fill: white;
        transition: fill 0.25s;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        width: 100vw;
        height: $menu-size;
        position: relative;
        justify-content: flex-start;

        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}