@import "../../helpers/variables.scss";

.card {
    width: 100%;
    padding: 20px;
    height: $card-height;
    flex: 1 0 25%;
    position: relative;
    min-width: 390px;

    iframe {
        border-radius: 5px;
        width: inherit;
        height: inherit;
    }
}

.card-overlay {
    width: inherit;
    height: inherit;
    position: absolute;

    &:hover {
        cursor: pointer;
    }
}

.card-details {
    position: absolute;
    bottom: calc(#{$card-height}/2.3);
    padding: 10px;
    background: white;
    right: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    li {
        display: inherit;
        align-items: center;

        p {
            margin: 0;
            margin-right: 5px;
        }

    }
}