@import "../../helpers/variables.scss";

.modal {
    background-color: white;
    padding: 20px;
    margin: 20px;
    position: absolute;
    z-index: 1;
    right: 10px;
    width: 91.5%;
    height: 90%;
    overflow-y: auto;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;

    iframe {
        width: 100%;
        height: 95%;
    }

    .column-left {
        padding: 10px;
    }

    .column-right {
        padding: 10px;
        max-height: fit-content;
        display: grid;
        grid-template-rows: 50px auto auto auto;
    }

    #title {
        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 10px;
    }

    .right-section {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .tags {
            background-color: $menu-background;
            padding: 10px;
            border-radius: 5px;
            margin: 5px;
            max-height: 20px;
        }
    }

    .description {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .stats {
            display: inherit;

            li {
                display: inherit;
                align-items: center;
                margin-right: 10px;

                &>* {
                    margin-right: inherit;
                }
            }
        }
    }

    #comments {
        overflow: auto;
        max-height: fit-content;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0 !important
        }
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        margin: 0;
        height: 95vh;
        display: flex;
        flex-direction: column;
        right: 0;

        iframe{
            height: 50vh;
        }
    }
}