@import "./helpers/variables.scss";

.App {
    width: 100vw;
    height: 100vh;
}

.main-container {
    margin-left: $menu-size;
    height: inherit;
    background-color: $background;

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        margin-left: 0;
    }
}

iframe{
    border: none;
}